<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="detalleBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Log Riegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Electrovalvula <small>{{this.idDispositivo}}</small></ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content > 
    <ul *ngFor="let r of riegos">
      <li>

        <ion-icon *ngIf="r.apertura==0" name="lock-closed-outline"></ion-icon>
        <ion-icon *ngIf="r.apertura==1"name="lock-open-outline"></ion-icon>
        
        {{r.fecha | date:"short" }} : 
        <strong> {{r.apertura}} </strong>
      </li>
    </ul>
</ion-content>
