<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="detalleBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Log Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Sensor <small>{{this.idDispositivo}}</small></ion-title>
  </ion-toolbar>
</ion-header>

<!--ion-content> 
  <ul *ngFor="let m of mediciones">
    <li>
      (n{{m.medicionId}})   <strong> {{m.fecha | date:"short" }}  </strong>
       value: <strong> {{m.valor}} </strong>
    </li>
  </ul>
</ion-content -->

<ion-item> 
  <ion-grid>
    <ion-row >
      <ion-col class="ion-text-center"> 
        <div>
          <strong>Medición</strong>
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
        <strong>Valor</strong>
        </div>
      </ion-col >
      <ion-col class="ion-text-center">
        <div>
          <strong>Fecha</strong>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item> 

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let m of mediciones">
      <ion-col class="ion-text-center"> 
        <div>
          {{m.medicionId}}
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
          {{m.valor}} 
        </div>
      </ion-col>
      <ion-col class="ion-text-center">
        <div>
          {{m.fecha | date:"short" }}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>