<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button (click)="detalleBack()">
              <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Log Mediciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Sensor <small>{{this.idDispositivo}}</small></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ul *ngFor="let m of mediciones">
    <li>
      (n{{m.medicionId}})   <strong> {{m.fecha | date:"short" }}  </strong>
       value: <strong> {{m.valor}} </strong>
    </li>
  </ul>
</ion-content>